@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    /* background-image: url(nature.jpg); */
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav {
    background-color: #092978;
    height: 80px;
    width: 100%;
    margin-bottom: 2%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

input {
    width: 300px;
    border-radius: 6px;
    color: #24262b;
    padding: 6px;
}

a.active,a:hover {
    /* background: #1b9bff;*/
    transition: .5s;
}


.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}
/* .login-block{
    background: #DE6262;  
background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262); 
background: linear-gradient(to bottom, #FFB88C, #DE6262); 
float:left;
width:100%;
padding : 50px 0;
} */
.banner-sec{background:url(src\assets\child-vaccine-2381x2381.jpg)  no-repeat ; background-size:500px; min-height:500px; border-radius: 0 10px 10px 0; padding:0; align-items: end;}
.banner-sec p { float: left;}
.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}

body{
    background-color: rgb(196, 232, 249);
}


