<section class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Vaccinate On time every time.</h2>
                <form class="login-form">
                    
                   <h3>IMMUNIZATION IS THE RIGHT OF EVERY CHILD!</h3>
                       <h5>Get you child immunized today!</h5> 
                 

                </form>
                
            </div>
            <div class="col-md-8 banner-sec">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <!-- <img class="d-block img-fluid" src="src\assets\child-vaccine-2381x2381.jpg" -->
                                <!-- > -->
                            <div class="carousel-caption d-none d-md-block">
                                <!-- <div class="banner-text">
                                    <h2>This is Heaven</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation</p>
                                </div> -->
                            </div>
                        </div>
                        
                       
                    </div>

                </div>
            </div>
        </div>
</div>
</section>